
.displayitems{

    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: darkcyan;
    padding: 10px;
}
.item{
    padding: 20px;
    box-shadow: 1px 1px 4px black;
    background-color: white;
    margin-top: 20px;
}
.image{
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
}
.image img{
    width: 100%;
    height: 100%;
}
.scrollUp{
    border: none;
    background-color: white;
    margin-left: 95%;
}
.scrollUp i{
    /* padding: 10px; */
    cursor: pointer;
    font-size: xx-large;
    transition: .2s;
}
.scrollUp i:hover{
    transform: scale(1.2);
}