html{
    scroll-behavior: smooth;
}
.displayitems{

    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: darkcyan;
    padding: 10px;
}
.item{
    padding: 20px;
    box-shadow: 1px 1px 4px black;
    background-color: white;
    margin-top: 20px;
}
.image{
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
}
.image img{
    width: 100%;
    height: 100%;
}
.scrollUp{
    border: none;
    background-color: white;
    /* margin-left: 95%;
    margin-bottom: 20px; */
    position: fixed;
    right: 2%;
    bottom: 5%;
    display: none;
    border-radius: 50%;
}
.scrollUp i{
    /* padding: 10px; */
    cursor: pointer;
    font-size: xx-large;
    border-radius: 50%;
    transition: .2s;
}
.scrollUp i:hover{
    box-shadow: 1px 1px 5px black;
    transform: scale(1.2);
}